*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color:#E83A59;
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}
form {
  position:fixed;
  bottom: 200px;
  right: 30%;
  left: 32%;
  border-radius: 6px;
  /* border: 2px solid black; */
  color: #000;
  /* box-shadow: 0 0 2px 1px rgb(255, 255, 255); */
}
.icon{
  float:right;
}
.items {
  position: fixed;
  top: 50px;
  right: 30%;
  left: 30%;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 0;
  

}

.completedTodo {
  background-color: darkgray;
  text-decoration: line-through;
}
